version: '3.9'

services:
  nest-app:
    build: .
    container_name: nest_app
    restart: always
    env_file:
      - .env
    ports:
      - "3000:3000"
    networks:
      - nest-network

  pgadmin:
    image: dpage/pgadmin4:8
    container_name: pgadmin_cloud
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    networks:
      - nest-network

networks:
  nest-network:
    driver: bridge
